<%= form_with(model: @message, url: { controller: 'messages', action: 'create'}, local: false) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <p>We've been unable to send your message due to <%= pluralize(@message.errors.count, "error") %></p>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :content, 'Message' %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.button 'Send' %>
  </div>
<% end %>
