<h1>Messages</h1>
<% @conversation_messages.each do |message| %>
  <div>
    <% if message.from_profile_a %>
      <% if message.conversation.profile_a == current_user %>
        <p><%= message.conversation.profile_a.first_name %>(you)</p>
      <% else %>
        <p><%= message.conversation.profile_a.first_name %></p>
      <% end %>
    <% else %>
      <% if message.conversation.profile_b == current_user %>
        <p><%= message.conversation.profile_b.first_name %> (you)</p>
      <% else %>
        <p><%= message.conversation.profile_b.first_name %></p>
      <% end %>
    <% end %>
    <p><%= message.content %></p>
  </div>
<% end %>

<%= link_to 'New', new_conversation_message_path %>
