<p id="notice"><%= notice %></p>

<h2>Buddies</h2>

<% @profiles.each do |profile| %>
  <div>
    <h3><%= profile.first_name %> <%= profile.last_name %></h3>
    <figure>
      <%= image_tag profile.profile_photo_url(:thumb) %>
    </figure>
  </div>
<% end %>

<%= link_to 'New Profile', new_profile_path %>
