<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Your preferred exercise:</strong>
  <%= @activity.name %>
  <small><%= link_to 'Change', edit_activity_url %></small>
</p>

<p>
  <strong>Your current skill level:</strong>
  <%= @activity.skill_level%>
  <small><%= link_to 'Update', edit_activity_url %></small>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<figure>
  <%= image_tag @profile.profile_photo_url(:original) %>
</figure>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @profile.contact_number %>
</p>

<% if user_signed_in? %>
  <% if current_user.id == @profile.user_id %>
    <%= link_to 'View Conversations', profile_conversations_path(@profile) %> |
  <% else %>
    <% if @active_conversation %>
      <!-- If there is an existing conversation, display link to send a message to the host -->
      <%= link_to "Contact #{@profile.first_name}", new_conversation_message_path(@active_conversation) %> |
    <% else %>
      <!-- Otherwise display button to start a conversation with the host -->
      <%= render partial: 'new_conversation' %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
