<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Your preferred exercise:</strong>
  <%= @activity.name %>
  <small><%= link_to 'Change', edit_activity_url %></small>
</p>

<p>
  <strong>Your current skill level:</strong>
  <%= @activity.skill_level%>
  <small><%= link_to 'Update', edit_activity_url %></small>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<figure>
  <%= image_tag @profile.profile_photo_url(:original) %>
</figure>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @profile.contact_number %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
