<p id="notice"><%= notice %></p>

<section>
  <h2><%= @profile.first_name %> <%= @profile.last_name %></h2>
  <figure>
    <%= image_tag @profile.profile_photo_url(:original) %>
  </figure>
</section>

<section>
  <h3>About me</h3>
  <p>
    <%= simple_format(@profile.bio) %>
  </p>
  <p>
    <strong>Location:</strong> 
    <ul>
      <li>Postcode: <%= @profile.postcode %></li>
      <li>Surrounding suburbs:
        <%= @suburbs.join(", ") %>
      </li>
    </ul> 
    
  </p>
  <% if current_user.id == @profile.user_id %>
    <p>
      <strong>Contact number</strong> <%= @profile.contact_number %> <small><em>only you can see this</em></small>
    </p>
  <% end %>
</section>

<section>
  
  <h3>My Activities</h3>
  
  <table class="table">
    <tr>
      <th>Exercise</th>
      <th>Skill Level</th>
      <th></th>
      <th></th>
    </tr>
    
    <% @profile.activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.skill_level %></td>
        <% if current_user.id == @profile.user_id %>
          <td><%= link_to 'Update', edit_activity_path(activity), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm:'Are you sure you want to delete this activity?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if current_user.id == @profile.user_id %>
    <%= link_to 'Add Additional Activities', new_activity_path, class: "btn btn-primary btn-lg" %>
  <% end %>
  
</section>

<% if current_user.id == @profile.user_id %>
  <%= link_to 'View Conversations', profile_conversations_path(@profile) %> |
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% else %>
  <% if @active_conversation %>
    <!-- If there is an existing conversation, display link to send a message to the host -->
    <%= link_to "Contact #{@profile.first_name}", new_conversation_message_path(@active_conversation) %> |
  <% else %>
    <!-- Otherwise display button to start a conversation with the host -->
    <%= render partial: 'new_conversation' %>
  <% end %>
<% end %>

<%= link_to 'Back', profiles_path %>
