<p id="notice"><%= notice %></p>

<h1>Your Inbox</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Last update</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.profile_a.first_name %> <%= conversation.profile_a.last_name %></td>
        <td><%= format_date(conversation.updated_at) %></td>
        <td><%= link_to 'View Messages', conversation_messages_path(conversation) %></td>
        <td><%= link_to 'Delete', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
