<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p>
  <strong>Profile a:</strong>
  <%= @conversation.profile_a %>
</p>

<p>
  <strong>Profile b:</strong>
  <%= @conversation.profile_b %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
